<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="fade"></div>

  <span *ngFor="let star of stars;" [ngStyle]="{'top': star.top +'px', 'left': star.left +'px'}" class="star"></span>
  <ion-grid padding>

    <ion-row justify-content-center align-items-center class="intro">
      <ion-col text-center>
        <ion-text color="secondary">
          <h1>A short time ago in a galaxy....<br />not so far, far away....</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center class="logo">
      <ion-col text-center>
        <img src="../../../assets/sw-logo.svg" alt="Star Wars Logo" />
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center class="content">
      <ion-col text-center>
        <ion-text color="primary">
          <p>Nastał czas, aby stworzyć projekt końcowy. Laptopy dzielnie znoszą wielogodzinne obciążenie, jednak studenci są na granicy wytrzymałości. Dzięki pomocy wykładowców istnieje jednak szansa, nikła szansa skończenia projektów na czas.</p>
          <p>Szpiedzy wykradli tajne dane z baz swapi.co oraz themoviedb.org, dzięki którym przy wykorzystaniu nowych technologii takich jak Ionic Framework, Angular 7 z chaosu powstał tajemniczy projekt końcowy dla studiów podyplomowych "Programista Front-end" na WSB Wrocław o kryptonimie "Aplikacja internetowa z użyciem REST API".... </p>
          <p>Po wielu desperackich próbach,złowrogie siły zeit.co zostały zmuszone do prawidłowego działania, a dzięki zastosowaniu technologii PWA możliwe stało się niemożliwe, czyli zainstalowanie aplikacji na telefonie bez udziału sklepu.</p>
          <p>Chciałem podziękować wszystkim wykładowcom za bardzo interesujące zajęcia.</p>
          <p>Wojciech Bubółka...</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center class="final">
      <ion-col text-center>
        <img src="../../../assets/sw-logo.svg" alt="Star Wars Logo" />
        <ion-text color="primary">
          <h2>Star Wars Database</h2>
          <p>Projekt końcowy kierunku "Programista Front-end" na WSB Wrocław - Aplikacja internetowa z użyciem REST API.</p>
          <p>Projekt oraz wykonanie: Wojciech Bubółka </p>
        </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>