<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/planets"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      <ng-container *ngIf="planet">{{planet.name}}</ng-container>
      <ion-spinner *ngIf="!planet" color="primary"></ion-spinner>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding *ngIf="!planet">
    <ion-row justify-content-center align-items-center>
      <ion-col class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding *ngIf="planet">
    <ion-row>

      <ion-col size="12">
        <h1>
          <ion-text color="primary"><strong>Planet Name:&nbsp;</strong></ion-text>
          <ion-text>{{planet.name}}</ion-text>
        </h1>
      </ion-col>

      <ion-col size="12">
        <ion-text color="secondary"><strong>Climate:&nbsp;</strong></ion-text>
        <ion-text text-capitalize>{{planet.climate ? planet.climate : 'No Data'}}</ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-text color="secondary"><strong>Diameter:&nbsp;</strong></ion-text>
        <ion-text text-capitalize>{{planet.diameter ? (planet.diameter | number) : 'No Data' }}</ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-text color="secondary"><strong>Gravity:&nbsp;</strong></ion-text>
        <ion-text text-capitalize>{{planet.gravity ? planet.gravity : 'No Data'}}</ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-text color="secondary"><strong>Movie Appearance:&nbsp;</strong></ion-text>
        <ion-spinner *ngIf="!films" color="primary" class="ion-spinner-small"></ion-spinner>
        <ng-container *ngIf="films">
          <ng-container *ngFor="let film of films; let last = last;">
            <a routerLink="/characters/{{film.url | idFromUrl}}" routerDirection="forward">
              <ion-text>{{film.title}}</ion-text>
            </a>
            <ion-text *ngIf="!last">, </ion-text>
          </ng-container>
          <ng-container *ngIf="!films.length">
            <ion-text>Not Known</ion-text>
          </ng-container>
        </ng-container>
      </ion-col>

      <ion-col size="12">
        <ion-text color="secondary"><strong>Population:&nbsp;</strong></ion-text>
        <ion-text>{{planet.population ? (planet.population | number) : 'No Data'}}</ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-text color="secondary"><strong>Residents:&nbsp;</strong></ion-text>
        <ion-spinner *ngIf="!people" color="primary" class="ion-spinner-small"></ion-spinner>
        <ng-container *ngIf="people">
          <ng-container *ngFor="let person of people; let last = last;">
            <a routerLink="/characters/{{person.url | idFromUrl}}" routerDirection="forward">
              <ion-text>{{person.name}}</ion-text>
            </a>
            <ion-text *ngIf="!last">, </ion-text>
          </ng-container>
          <ng-container *ngIf="!people.length">
            <ion-text>Not Known</ion-text>
          </ng-container>
        </ng-container>
      </ion-col>

      <ion-col size="12">
        <ion-text color="secondary"><strong>Terrain:&nbsp;</strong></ion-text>
        <ion-text text-capitalize>{{planet.terrain ? planet.terrain : 'No Data'}}</ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>