// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #ffd54e;
    --ion-color-primary-rgb: 255,213,78;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #e0bb45;
    --ion-color-primary-tint: #ffd960;
  
    --ion-color-secondary: #4bd5ee;
    --ion-color-secondary-rgb: 75,213,238;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #42bbd1;
    --ion-color-secondary-tint: #5dd9f0;
  
    --ion-color-tertiary: #0d5aa0;
    --ion-color-tertiary-rgb: 13,90,160;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #0b4f8d;
    --ion-color-tertiary-tint: #256baa;
  
    --ion-color-success: #75C33C;
    --ion-color-success-rgb: 117,195,60;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #67ac35;
    --ion-color-success-tint: #83c950;
  
    --ion-color-warning: #ffd54e;
    --ion-color-warning-rgb: 255,213,78;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb45;
    --ion-color-warning-tint: #ffd960;
  
    --ion-color-danger: #7F202E;
    --ion-color-danger-rgb: 127,32,46;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #701c28;
    --ion-color-danger-tint: #8c3643;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: #fff;
  --ion-tab-bar-background: var(--ion-color-primary);
  --ion-tab-bar-color-activated: var(--ion-color-secondary);
  --ion-text-color-rgb: 255, 255, 255;

  ion-card {
    --color: #fff;
    --background: var(--ion-color-dark-tint);
  }

  ion-item {
    --border-color: var(--ion-color-dark-tint);
    --detail-push-color: var(--ion-color-dark-tint);
  }
}
