// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0d5aa0;
  --ion-color-primary-rgb: 13, 90, 160;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0b4f8d;
  --ion-color-primary-tint: #256baa;

  --ion-color-secondary: #0087e9;
  --ion-color-secondary-rgb: 0, 135, 233;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0077cd;
  --ion-color-secondary-tint: #1a93eb;

  --ion-color-tertiary: #00c0a9;
  --ion-color-tertiary-rgb: 0, 192, 169;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #00a995;
  --ion-color-tertiary-tint: #1ac6b2;

  --ion-color-success: #4aa942;
  --ion-color-success-rgb: 74, 169, 66;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #41953a;
  --ion-color-success-tint: #5cb255;

  --ion-color-warning: #eecd00;
  --ion-color-warning-rgb: 238, 205, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d1b400;
  --ion-color-warning-tint: #f0d21a;

  --ion-color-danger: #ed2939;
  --ion-color-danger-rgb: 237, 41, 57;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d12432;
  --ion-color-danger-tint: #ef3e4d;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: #fff;
  --ion-tab-bar-background: var(--ion-color-primary);
  --ion-tab-bar-color-activated: var(--ion-color-secondary);
  --ion-text-color-rgb: 255, 255, 255;

  ion-card {
    --color: #fff;
    --background: var(--ion-color-dark-tint);
  }

  ion-item {
    --border-color: var(--ion-color-dark-tint);
    --detail-push-color: var(--ion-color-dark-tint);
  }
}
